.field-select ,
.field-form{
    position: relative;

    select{
        color: var(--text-color-gris-2);
        padding: 0.68rem 0.68rem;
        width: 100%;
        border: 1px solid var(--text-color-gris-4);
        border-radius: 5px;
        font-size: 1rem;
        outline: none;
    }
     select:active ,select:focus{
        border-width: 2px;
        border-color: var(--primary-color-variant-2);
     }
     label{
         position: absolute;
         top: calc(0%);
         left: 10px;
         font-size:0.8rem;
         color: var(--text-color-gris-4);
         background: white;
         z-index: 20;
    }
    &.big-select{
         padding: 1rem 1rem;
        label{
            left:25px;
            top:5px;
        }
    }
}