{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Usuarios registrados {{schema_name}}</h2>
<div class="container p-3">
    <div class="c-table">
    <div class="d-flex align-items-center row-gap-1 p-3">
        <div><h3>Usuarios registrados</h3></div>
        <div><button class="btn secondary"><a href="{% url 'create_user' schema_name=schema_name %}">Crear nuevo</a></button></div>
        <div class="field-input flex-fill">
            <label for="search_user">Buscar...</label>
            <input id="search_user" type="text" placeholder="Buscar..."/>
            <img style="margin: auto auto" src="{% static 'icons/search.svg' %}" alt="search">
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Ultimo login</th>
                <th>Staff</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for group in user.groups.all %}
                             {{ group.name }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.last_login %}
                            {{ user.last_login|date:"d/m/Y H:i:s" }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_staff %}
                            <span style="color: green;">✅</span>
                        {% else %}
                            <span style="color: red;">❌</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active %}
                            <span style="color: blue;">🔵</span>
                        {% else %}
                            <span style="color: red;">🔴</span>
                        {% endif %}
                    </td>
                    <td>
                        <a> <img style="margin: auto auto" src="{% static 'icons/edit.svg' %}" alt="edit"> </a>
                        <a><img style="margin: auto auto" src="{% static 'icons/delete.svg' %}" alt="delete"> </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination p-2">
                        <a href="#" class="btn prev">Anterior</a>
                        <a href="#" class="btn active">1</a>
                        <a href="#" class="btn">2</a>
                        <a href="#" class="btn">3</a>
                        <a href="#" class="btn next">Siguiente</a>
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>
</div>
{% endblock %}