{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>Permisos</h2>

<div class="container">
    <table>
        <thead>
            <tr>
                {% for column in columns_name %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <form method="POST" id="permissionsForm">
                 {% csrf_token %}
               {% for item in items %}
               <tr>
                       <td style="text-align: start;">
                         <label class="form-check-label" for="{{item.permission.id}}" style="display: block; width: 100%;">{% trans item.permission.name %}</label></td>
                      <td>
                       <input class="form-check-input"  type="checkbox" id="{{item.permission.id}}" name="permissions" value="{{item.permission.id}}-{{item.authorized}}" {% if item.authorized %}checked{% endif %}>
                      </td>
               </tr>
                {% endfor %}
             </form>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    {% include 'paginator_template.html' with url_page=url_page current_page=current_page range=range pages=pages %}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
        document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'permissions-change';
            hiddenInput.value = `${checkbox.id}-${checkbox.checked}`;
            this.form.appendChild(hiddenInput);
                this.form.submit();
            });
        });
</script>
{% endblock %}