*{
    --size-navbar: 5rem;
}

.navbar-logo{
    font-size:2rem;
    font-weight:bold;
    color: var(--white-space);
}
.bars{
    display: none;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    color: var(--white-space);
    font-size:1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.2rem;
    transition: 0.2s;
    margin: 0 0.5rem;
}

.navbar ul li a:hover{
    color: white;
    background-color: var( --secondary-color);

}
.navbar ul li a.active{
    color: white;
    background-color: var( --secondary-color);

}
@media(max-width:500px){
    header{
        padding: 0 1.5rem;
    }
    .bars{
        display: block;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .bars .line{
        width:1.5rem;
        height: 0.05rem;
        background-color: var(--white-space);
        margin: 0.5rem 0;
        transition: 0.5s;
    }
    .navbar{
        height: 0;
        position: absolute;
        top: var(--size-navbar);
        left: 0;
        right:0;
        width: 100vw;
        background-color: var(--text-color-gris-2);
         overflow:hidden;
        transition: 0.5s all;

    }
    .navbar.active {
        height: 18rem;
        transition: 0.5s;

    }
    .navbar ul{
        padding: 1rem;
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
     }
     .navbar.active ul{
         opacity: 1;
     }
     .navbar ul li a{
         margin-bottom: 0.5rem;
     }
}
.circle_account{
    border-radius: 50%;
    background-color: #f0f0f0;
    aspect-ratio:1/1;
    padding: 1rem;
    cursor: pointer;
}
.modal{
    width: 20rem;
    margin: 0.25rem;
    position: absolute;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    z-index: 9000;
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.2);
}
.modal-content{
    text-align: center;
}

.circle_span{
    position: absolute;
    bottom: 5px;
    left: -1px;
    display: inline-block;
    width: 1.3rem;
    height:1.3rem;
    line-height: 1.3rem;
    background-color: #f0f0f0;
    color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 0.7rem;


}